body{
    background-color: antiquewhite;
    color: rgb(168, 60, 60);
}
span{
    color: rgb(162, 214, 169);
}

section{
    margin-top: 30px;
    background-color: antiquewhite;    
    text-align: center;
    padding: 20px;

}

.objetivos{
font-size: 15px;
padding: 18px;
border: 0.5px solid;

}

.ativo {
    background-color: rgb(168, 60, 60);
    color: antiquewhite;
    border: 2;
}

.Textos{
    text-align: center;
}

.aba-conteudo{
    display: none;
}

.ativa{
    display: block;
}
